<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Get Password</h1>
    <div id="errorMsg"></div>
    <form>
        <label for="emailLink">Email:</label>
        <input type="email" id="emailLink">
        <br>
        <button type="submit" id="getPasswordOnEmail">Get the password</button>
    </form>


</body>

<script src="/forgotPassword.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

</html>