<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <div id="errorMsg"></div>
    <form>
        <label  for="email">Enter Email:</label>
        <input type="text" id="email"><br>
        <label  for="newPassword">Enter new password:</label>
        <input type="password" id="newPassword">
        <br>
        <button type="submit" id="resetPassword">Change password</button>
    </form>
</body>
<script src="/resetPassword.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
</html>